.App {
  text-align: center;
  font-family: sans-serif;
  height: 100vh;
}

header {
  display: flex;
  max-height: 100px;
  justify-content: start;
  padding: 12px;
  background: darkseagreen;
}

.header-btn {
  padding: 16px 12px;
  min-width: 100px;
  margin: 10px;
  border-radius: 50px;
  border: 1px solid darkolivegreen;
  color: white;
  background: #09724fcb;
  text-decoration: none;
  cursor: pointer;
}

.header-btn:active {
  transform: scale(.95);
}

table {
  margin: 40px auto;
  padding: 8px;
  font-size: 20px;
  border: 2px outset darkolivegreen;
}

td:last-child, th:last-child {
  border-right: 0px;
}

td, th {
  padding: 10px;
  border-right: 2px solid olive;
  border-bottom: 2px solid olive;
}

.actionBtn {
  color: #26a69a;
  margin: 4px;
  border-radius: 60px;
  font-weight: 700;
  font-size: 14px;
  width: 90px;
  height: 42px;
  border: none;
}

form {
  max-width: 80%;
  height: 60%;
  margin: 40px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  border: 1px olive outset;
}

form > * {
  flex-basis: 90%;
  padding: 10px;
  margin: 12px;
}

.submitBtn {
  padding: 12px 40px;
  margin: 12px;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid lightgrey;
  color: lightgoldenrodyellow;
  background: linear-gradient(315deg, #0ea87f, #0aa08c, #047260);
  background-size: 600% 600%;
  animation: gradientAnimation 8s ease infinite;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
 table {
    margin: 20px auto;
    padding: 4px;
    font-size: 16px;
  }

    td, th {
    padding: 4px;
  }
}

@media screen and (max-width: 700px) {
  table {
    margin: 20px auto;
    padding: 2px;
    font-size: 12px;
  }

    td, th {
    padding: 2px;
  }

  .actionBtn {
    font-weight: 500;
    font-size: 11px;
    width: 60px;
    height: 30px;
  }
}

@media screen and (max-width: 500px) {
  header {
    max-height: 60px;
  }

  .header-btn {
    font-size: 12px;
    padding: 12px;
    min-width: 60px;
    margin: 6px;
  }

  table {
    margin: 20px auto;
    padding: 2px;
    font-size: 8px;
    border: 1px outset darkolivegreen;
  }

  td, th {
    border-right: 1px solid olive;
    border-bottom: 1px solid olive;
  }

  td:last-child {
    display: flex;
    flex-direction: column;
  }

  .actionBtn {
    font-size: 8px;
    width: 46px;
    height: 16px;
  }

  form {
    height: 60%;
    grid-template-columns: 1fr;
  }
}